<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link id='favicon' rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Rohit's Portfolio Website</title>
</head>
<body>
    <header>
    <div class="header">
            
        <div class="name_div">
            <p>
            <img src="/static/python_logo.png" alt="logo">
        <a id="name">Rohit</a>
            </p>
        </div>
        <div class="options">
            <a id="home" href="#home-link">Home</a>
            <a id="about" href="#about-link">About</a>
            <a id="skill" href="#skill-link">Skills</a>
            <a id="education" href="#education-link">Education</a>
            <a id="work" href="#skill-link">Work</a>
            <!-- <a id="experience">Experience</a> -->
            <a id="contact" href="#contact-link">Contact</a>
        </div>
    </div>
    </header>
    <main>
        <section class="home-section" id="home-link">
            <div class="home-left">
                <h1 id="hi">Hi there,</h1>
                <h1 id="rohit">I'm Rohit</h1>
                <h1 id="patel">Patel</h1>
                <h3 id="des">I Am Into <i id="pd">Python Development</i> And <i id="pd">Frontend Web-development</i></h3> 
                <div id="abt-box">
                    <a id="abt-me-button" href="#about-link">About Me</a>
                </div> 
                <div class="connection">
                    <div id="linkedin" ><a href='https://www.linkedin.com/in/rohit-patel-45b102221/' target=blank><i class="fab fa-linkedin" id="link"></i></a></div>
                    <div id="github"><a href="https://github.com/aviator2405" target=blank><i class="fab fa-github" id="link"></i></a></div>
                    <div id="twitter"><a href="https://x.com/RohitPa07599603" target="blank"><i class="fab fa-twitter" id="link"></i></a></div>
                    <!-- <div id="telegram"><i class="fab fa-telegram-plane" id="link"></i></div> -->
                    <div id="instagram" ><a href="https://www.instagram.com/aviator_rohit_24/" target=blank><i class="fab fa-instagram" id="link"></a></i></div>
                    <div id="dev" ><a href="https://dev.to/aviator_rohit_24" target=blank><i class="fab fa-dev" id="link"></i></a></div>
                </div>
            </div>
            <div class="home-right">
            </div>
        </section>
        
        <section class="about-me-section" id="about-link">
            <div id="about-me-div">
                <h1 id="about-me-heading">
                    About Me
                </h1>
                <hr color="red"><br>
                <p id="about-me-para">
                    Hello there! I'm <i id="about-me-rohit">Rohit Patel</i>, a passionate <i id="about-me-rohit">Python Full Stack Developer</i> and <i id="about-me-rohit">Front-end Web Developer</i> with a knack for crafting elegant and efficient solutions. My journey in the world of programming began with a fascination for turning ideas into digital realities.
                    <br><br>
                    With a solid foundation in Python and a love for creating dynamic and responsive user interfaces, I thrive on building robust and user-friendly experiences.
                    <br><br>
                    My Toolbox:-</p>
                    <ul id="toolkit-list">
                        <li><a id="toolkit-list-member">Languages:</a> Python, JavaScript, HTML, CSS</li>
                        <li><a id="toolkit-list-member">Frameworks:</a> Tkinter, Django</li>
                        <li><a id="toolkit-list-member">Databases:</a> MySQL</li>
                        <li><a id="toolkit-list-member">Tools & Technologies:</a> Git</li>
                    </ul>
                <p id="about-me-para">    
                    <br>
                    Why Me?<br>
                    I am driven by a passion for clean code, user-centric design, and a commitment to delivering high-quality software. I believe in the power of collaboration and am always eager to dive into new challenges. My goal is not just to write code but to create digital experiences that leave a lasting impression.
                    <br><br>
                    What Sets Me Apart:-</p>
                    <ul id="toolkit-list"> 
                        <li><a id="toolkit-list-member">Full Stack Expertise:</a> From server-side logic to pixel-perfect front-end, I bring a holistic approach to development.</li>
                        <li><a id="toolkit-list-member">Problem Solver:</a> I thrive in solving complex problems and enjoy the process of breaking down challenges into manageable tasks.</li>
                        <li><a id="toolkit-list-member">Continuous Learner:</a> In the ever-evolving tech landscape, I am committed to staying updated with the latest tools and best practices.</li>
                    </ul>
                    <br>
                <p id="about-me-para">  
                    Let's Connect
                    I am currently seeking exciting opportunities to collaborate on innovative projects. Whether you're looking to enhance your web presence, streamline your backend processes, or create a seamless user experience, I'd love to chat. Let's turn your ideas into reality!
                    <br><br>
                    <!-- add link to contact-section in "get in touch"  -->
                    Feel free to get in touch – I'm always up for a good conversation about tech, coding, or anything in between.
                    <br><br>
                </p>        
                    <div id="about-me-salutation">Cheers, 
                    <br>
                    Rohit Patel</div>
                </p>
            </div>
        </section>
        
        <section class="skill-section" id="skill-link">
            <h1 id="skill-heading">
                My Skills & Work
            </h1>
            <div id="skill-background">

                <div id="cpp">
                    <a id="cpp-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">   
                    </a>
                </div>
                
                <div id="python">
                    <a id="python-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">   
                    </a>
                </div>
                
                <div id="tkinter">
                    <a id="tkinter-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">
                    </a>
                </div>
                
                <div id="mysql">
                    <a id="mysql-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">  
                    </a>
                </div>
                
                <div id="html">
                    <a id="html-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">  
                    </a>
                </div>
                
                <div id="css">
                    <a id="css-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">  
                    </a>
                </div>
                
                <div id="javascript">
                    <a id="javascript-logo-skill" href="https://chat.openai.com/c/81bedcc1-c43d-48d1-b9f7-dc26c39bb9da" target="blank" rel="no-referrer">    
                    </a>
                    <i id="skill-javascript">JavaScript</i>
                </div>
            </div>
        </section>
        <section class="education" id="education-link">
            <h1 id="education-heading">
                My Education
            </h1>
            <div id="education-body">
                <div id="tenth" class="tenth-class">
                    <div id="tenth-per">
                        <a class ='per'>91.0</a>
                        <a class="per-subscript">%</a>
                    </div>
                    <div id="tenth-body" class="tenth-body-class">
                        <p class="description">
                        <p class="des-heading">Class-</p> <p class="des-body">10th</p> <br><br>
                        <p class="des-heading">Board- </p><p class="des-body">Central Board of Secondary Education</p><br><br>
                        <p class="des-heading">School-</p> <p class="des-body">Little World School, Jabalpur</p>
                        </p>
                        <div id="button-body"><a id="doc-ref" href="https://drive.google.com/file/d/1n6IUacxP-7pjKDx_DHwuGdmCBCThMDlq/view?usp=sharing" target="blank">Click to Open</a></div>
                    </div>
                </div>
                <div id="twelveth">
                    <div id="twelveth-per">
                        <a class ='per'>92.6</a>
                        <a class="per-subscript">%</a>
                    </div>
                    <div id="twelveth-body">
                        <p class="description">
                            <p class="des-heading">Class-</p> <p class="des-body">12th</p> <br><br>
                            <p class="des-heading">Board- </p><p class="des-body">Central Board of Secondary Education</p><br><br>
                            <p class="des-heading">School-</p> <p class="des-body">Little World School, Jabalpur</p>
                            </p>
                            <div id="button-body"><a id="doc-ref" href="https://drive.google.com/file/d/1Aw36q4qyU9cuBYwRVzYEs0V_-eMar55x/view?usp=sharing" target="blank">Click to Open</a></div> 
                    </div>
                </div>
                <div id="college">
                    <div id="college-per">
                        <a class ='per'> 7.68<br></a>
                        <a class="per-subscriptcgpa">cgpa</a>
                    </div>
                    <div id="college-body">
                        <p class="description">
                            <p class="des-heading">Degree</p> <p class="des-body">B.Tech. (IT)</p> <br><br>
                            <p class="des-heading">Affiliated By</p><p class="des-body">Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal</p><br><br>
                            <p class="des-heading">College</p> <p class="des-body">Jabalpur Engineering College</p>
                        </p>
                            <div id="button-body"><a id="doc-ref" href="https://drive.google.com/drive/folders/1Z2eVO0zdc4Jd-hRdaAAolz046fffiqSn?usp=sharing" target="blank">Click to Open</a></div> 
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-section" id="contact-link">
            <div id="contact-body">
                <!-- <i class="fab fa-linkedin" ></i> -->
                <div id="contact-python-image"></div>
                <a id="contact-name">Rohit Patel</a>
                <div id="contact-info">
                    <ul>
                        <li>Contact Number- 9039972014</li>
                        <br>
                        <li>Email- rp240502@gmail.com</li>
                        <br>
                        <li><a href='https://www.linkedin.com/in/rohit-patel-45b102221/' target="blank"><i class="fab fa-linkedin"> LinkedIn Profile</a></i></li>
                        <br>
                        <li><a href="https://www.instagram.com/aviator_rohit_24/" target=blank><i class="fab fa-instagram"></i> Instagram Profile</a></li>
                        <br>
                        <li><a href="https://github.com/aviator2405" target=blank><i class="fab fa-github"></i> Github Profile</a></li>
                        <br>
                        <li><a href="https://dev.to/aviator_rohit_24" target=blank><i class="fab fa-dev"></i> DEV Profile</a></li>
                        <br>
                        <br>
                    </ul>
                    <h1 id="form-heading">Contact Form</h1>
                </div>
                <form id="feedbackform" method="post">
                    {% csrf_token %}
                    <div id="left-form">
                        <label id="input-labels">Name</label><bR>
                        <label id="input-labels-email">Email</label><bR>
                        <label id="input-labels-msg">Message</label><bR>
                    </div>
                    <div id="right-form">
                        <input id='input-fields' type="text" placeholder="Enter Your Name" name="name" required="True">
                        <br>
                        <input id='input-fields' type="email" placeholder="Enter Your Email" name="email" required="True">
                        <br>
                        <input id='input-fields-msg' type="paragraph" placeholder="Enter Your Message Here" name="msg" required="True">
                        <br>
                        <input id='Submit-Button' type="submit" value="Send"><span id="feedbackMsg"><i>{{message}}</i></span>
                    </div>
                </form>
            <div>Portfolio Website</div>
            </div>
        </section>
    </main> 
    <script>
        {{code}} 
    </script>
</body>
</html>